/*--------- ENTIRE DOC---------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

html,
body {
  /* width: 100%; */

  /* min-width:1140px */
}

.row {
  width: 100%;
  margin: 0 auto;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.headerContainer {
  min-width: 100%;
  height: 100vh;
  background-image: url('././images/background-1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.spinner {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.spinner {
  width: 30%;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -15%;
  top: 65%;
  margin-top: -20%;
  animation: spin 30s linear infinite;
  background-attachment: fixed;
}

@media only screen and (max-width: 900px) {
  .spinner {
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 55%;
    margin-top: -20%;
  }

  .subheading {
    background-color: rgba(0, 0, 0, 0.411);
    padding: 0 5px 200px 5px;
    line-height: 45px;
    color: white;
  }
}

@media only screen and (max-width: 500px) {
  .spinner {
    width: 70%;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -35%;
    top: 55%;
    margin-top: -20%;
  }

  .subheading {
    background-color: rgba(0, 0, 0, 0.411);
    padding: 0 5px 100px 5px;
    line-height: 45px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-title {
  font-size: 300%;
  font-weight: 100;
  letter-spacing: 4px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

.subheading {
  font-size: 150%;
  font-weight: 700;
  color: white;
}

.heading {
  width: 100%;
}

.heading {
  width: 50%;
  background-attachment: fixed;
  position: absolute;
  top: 3%;
  left: 50%;
  margin-left: -25%;
  z-index: 1;
}

/* NAVBAR */

.navbar {
  background-color: rgba(0, 0, 0, 0.801) !important;
  border-color: rgba(0, 0, 0, 0.486) !important;
  color: white !important;
}

.navbar a {
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
  transition: 1s;
}

.navbar a:hover {
  color: rgb(72, 107, 72) !important;
  transform: scale(1.1);
  border-bottom: 4px solid rgb(46, 65, 46);
}

/* about section */

#about-header,
#portfolio-header {
  color: rgb(52, 82, 52);
  font-size: 300%;
  font-weight: 300;
  text-align: left;
  padding: 5px 10px;
  margin-top: 40px;
  position: relative;
  color: rgb(10, 90, 57);
  width: 90%;
  border-top: 1px solid rgb(10, 90, 57);
  border-bottom: 1px solid rgb(10, 90, 57);
  margin: 40px auto;
}

#p1 {
  color: black;
  padding: 20px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.about-content {
  padding: 20px;
  position: relative;
  margin: 10px;
  width: 95%;
  display: block;
  margin: 10px auto;
}

.profile-pic {
  width: 100%;
  position: relative;
  height: auto;
}

.icons {
  text-align: center;
  margin-top: 10px;
  color: black;
  margin-top: 10px;
}

.icons i {
  font-size: 200%;
  padding: 5px;
  color: black;
  margin-top: 15px;
}

/* contact form */

.contact {
  min-height: 100vh;
  background-image: linear-gradient(#0000008f, #00000088),
    url('./images/background');
}

.envelope {
  color: white;
  font-size: 300%;
  font-weight: 100;
}

#phone {
  font-size: 300%;
}

.contact-icon-info {
  font-size: 110%;
  margin-top: 50px;
  font-weight: 400;
}

#contact-heading {
  text-align: center;
  color: white;
  font-size: 160%;
  letter-spacing: 1.5px;
}

.contact-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 70px;
  text-align: center;
}

.form-container {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.form {
  display: block;
  margin-top: 30px;
  text-align: left;
}

.form li {
  list-style: none;
}

#name-field,
#email-field,
#text-area {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 100;
  font-size: 80%;
}

#text-area {
  padding-bottom: 200px;
}

#checkbox {
  margin-top: 25px;
  margin-left: 20px;
}

#checkbox-text {
  font-weight: 100;
  font-size: 80%;
  margin-left: 10px;
}

#submit-button {
  padding: 10px 15px;
  margin-top: 15px;
  font-weight: 200;
}

h5 {
  font-size: 70%;
  color: black;
  font-weight: 400;
  margin-top: 25px;
}

.p-contact-top,
.p-contact-bottom {
  font-size: 70%;
  margin-top: 20px;
  color: rgb(44, 44, 44);
  line-height: 20px;
}

#contact-header {
  color: white;
  background-color: rgba(23, 114, 53, 0.055);
  font-size: 300%;
  font-weight: 300;
  text-align: left;
  padding: 5px 10px;
  position: relative;
  top: 60px;
  width: 90%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 40px auto;
}

.form-container {
  position: relative;
  top: 50px;
}

.portfolio {
  height: 100vh;
}

.img {
  height: 30%;
  width: 40%;
  border-radius: 10px;
  transition: 1s;
  margin: 1rem auto;
}

/* .img:hover {
  transform: scale(1.05);
} */

@media (min-width: 45rem) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.grid-el {
  text-align: center;
  margin-top: 3.5rem;
}

.project-title {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  font-weight: 300;
}

.project-subtitle {
  font-size: 1rem;
  width: 70%;
  margin: 0 auto;
  font-weight: 300;
}

.blog {
  height: 100vh;
}

.carouselImage {
  width: 20rem;
  height: 12rem;
}

.box {
  transition: 1s;
  border-radius: 10px;
}

.box:hover {
  transform: scale(1.5);
  width: 20rem;
  height: 12rem;
}

.caption {
  color: black;
  text-align: center;
}

.carousel-indicators {
  bottom: -3rem;
  color: black;
}

.carousel-control-prev-icon a,
.carousel-control-next-icon a {
  color: black !important;
}

.prev {
  color: black;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
